{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "css"}}<link rel='stylesheet' href='/static/css/main.css'>{{end}}

{{define "main"}}
    <h2>Latest Offers</h2>
    {{if .Cars}}
    <table>
        <tr>
            <th>Model</th>
            <th>Cost per minute</th>
            <th>ID</th>
        </tr>
        {{range .Cars}}
        <tr>
            <td><a href='/cars/{{.ID}}'>{{.Model}}</a></td>
            <td>₸{{.Cost}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}

{{define "scripts"}}{{end}}