{{template "base" .}}

{{define "title"}}Rent{{end}}

{{define "css"}}<link rel='stylesheet' href='/static/css/main.css'>{{end}}

{{define "main"}}
<form action='/rent/create' method='POST'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
    <h2>Rent Form</h2>
    <div class="snippet">
        <label>Car Info:</label>
        <pre><code><img src="{{.Snippet.Image}}" alt="car image">{{.Snippet.Content}}</code></pre>
    </div>

    <div>
        {{with .Errors.Get "car"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input style="display: none;"type='text' name='car' value='{{.Snippet.CarsID}}'>
    </div>

    <div>
        <label>Delete in:</label>
        {{with .Errors.Get "expires"}}
        <label class='error'>{{.}}</label>
        {{end}}
        {{$exp := or (.Get "expires") "365"}}
        <input type='radio' name='expires' value='30' {{if (eq $exp "30")}}checked{{end}}> One Month
        <input type='radio' name='expires' value='7' {{if (eq $exp "7")}}checked{{end}}> One Week
        <input type='radio' name='expires' value='1' {{if (eq $exp "1")}}checked{{end}}> One Day
    </div>
    <div>
        <input type='submit' value='Arrange Rent'>
    </div>
    {{end}}
</form>
{{end}}
{{define "scripts"}}{{end}}